<section class="chatBoxes">
  <h1 class="title">Get in touch</h1>
  <div class="container">
      <div class="row">
          <div class="col-md-4">
              <div class="chatBox">
                  <h2>Get Support</h2>
                  <div class="chatIcon">
                      <img src="../../assets/image/SupportIcon.png" alt="">
                  </div>
                  <div class="chatContent">
                      <h3>Call Us</h3>
                      <a href="tel:919654995140">+91-9654995140</a>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="chatBox">
                  <h2>Mail </h2>
                  <div class="chatIcon">
                      <img src="../../assets/image/mailIcon.png" alt="">
                  </div>
                  <div class="chatContent">
                      <h3>Mail Us</h3>
                      <a href="mailto:info@vinayana.in">info@vinayana.in</a>
                  </div>
              </div>

          </div>
          <div class="col-md-4">
              <div class="chatBox">
                  <h2>Skype</h2>
                  <div class="chatIcon">
                      <img src="../../assets/image/Chaticon.png" alt="">
                  </div>
                  <div class="chatContent">
                      <h3>Skype us</h3>
                      <a href="">+91-9654995140</a>
                  </div>
              </div>

          </div>
      </div>
  </div>
</section>